@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Bold'), local('Inter Bold'),
         url("/static/fonts/Inter-Bold.ttf") format("truetype"),
         url("/static/fonts/Inter-Bold.woff2") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Medium'), local('Inter Medium'),
         url("/static/fonts/Inter-Medium.ttf") format("truetype"),
         url("/static/fonts/Inter-Medium.woff2") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Regular'), local('Inter Regular'),
         url("/static/fonts/Inter-Regular.ttf") format("truetype"),
         url("/static/fonts/Inter-Regular.woff2") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-Bold"), local('SF Pro Text Bold'),
        url("//fonts/SFProText-Bold.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-BoldItalic"), local('SF Pro Text Bold Italic'),
    url("//fonts/SFProText-BoldItalic.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-Heavy"), local('SF Pro Text Heavy'),
    url("//fonts/SFProText-Heavy.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-HeavyItalic"), local('SF Pro Text Heavy Italic'),
    url("//fonts/SFProText-HeavyItalic.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-Light"), local('SF Pro Text Light'),
    url("//fonts/SFProText-Light.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-LightItalic"), local('SF Pro Text Light Italic'),
    url("//fonts/SFProText-LightItalic.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-Medium"), local('SF Pro Text Medium'),
    url("//fonts/SFProText-Medium.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-MediumItalic"), local('SF Pro Text Medium Italic'),
    url("//fonts/SFProText-MediumItalic.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-Bold"), local('SF Pro Text Bold'),
    url("//fonts/SFProText-Bold.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText"), local('SF Pro Text'),
    url("//fonts/SFProText-Regular.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-RegularItalic"), local('SF Pro Text Regular Italic'),
    url("//fonts/SFProText-RegularItalic.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-Semibold"), local('SF Pro Text Semibold'),
    url("//fonts/SFProText-Semibold.woff2") format("woff");
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'), local("SFProText-SemiboldItalic"), local('SF Pro Text Semibold Italic'),
    url("//fonts/SFProText-SemiboldItalic.woff2") format("woff");
}