@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.parag {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.h1 {
    font-family: Inter, sans-serif;
    font-size: 64px;
    color: #1F3F68;
}

.h2 {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3 {
    font-family: Inter, sans-serif;
    font-size: 36px;
    text-align: center;
}

.h4 {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.inputs {
    font-family: Inter, sans-serif;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    font-family: Inter, sans-serif;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.form{
    background-image: url(../img/marble.jpg);
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
}
.breadcrumb li{
    float:right;
    padding:5px;
    border-radius:50px;
    position:relative;
    margin-left:-50px;
    margin-top:3px;
    background: rgba(66, 7, 17, 0.77);
    transition:all 0.2s ease-in-out;

}
.breadcrumb li a{

    overflow:hidden;
    border-radius:50px;
    transition:all 0.2s ease-in-out;
    text-decoration:none;
    height:50px;
    color:black;
    background: #c5102f;
    text-align:center;
    display:block;
    line-height:50px;
    padding-left:52px;
    padding-right:33.33px;

}

.breadcrumb li a:hover{
    background: #ff0000;
}
.breadcrumb li a:hover .text{
    display:inline-block;
    opacity:1;
}

ul.breadcrumb {
    margin: 0;
    list-style: none;
}