@import "./global.css";
@import "./fonts.css";
@import "./utils.css";


a.navigation-menu-portable{
    display: none;
}

.navigation-menu-content{
    display: none;
}

.body{
    width: 1440px;
}

.navigation{
    top: 24px;
    left: 108px;
    display: inline-flex;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    background: #F2F4F7;
    padding: 16px 24px;
    align-items: center;
    gap: 80px;
    position: fixed;
    z-index: 100;
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.154px;
}

span.logo{
    width: 120px;
    height: 24px;
}

span.highlighting {
    color: #306FF5;
}

.navigation-menu-desktop{
    font-family: SFProText, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.154px;
}

ul.navigation-menu-desktop{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    color: black;
}

ul.navigation-menu-desktop a{
    color: inherit;
    text-decoration: #101828;
}

.contacts{
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

ul.phones {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

ul.phones a{
    color: #2D66EE;
}

ul.mail {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

ul.mail a{
    color: #2D66EE;
}

.information {
    margin: 0;
    position: relative;
    height: 900px;
    width: 1440px;
    flex-shrink: 0;
    overflow: hidden;

    background-image: url("../img/background.jpg");
    background-position: right;
    background-repeat: no-repeat;

    /*background-image: url("../img/block1center.jpg"), url("../img/block2center.jpg"), url("../img/block1upper.jpg"),*/
    /*url("../img/block2upper.jpg"), url("../img/block1lower.jpg"), url("../img/block2lower.jpg");*/
    /*background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;*/
    /*background-position: 670.73px 0px, right 30px, 620.73px 0px, 970px 0px, 913.73px 760px, bottom right;*/
    /*background-position-x: right;*/
    /*border-radius: 24px;*/
    /*transform: rotate(-12deg);*/
}

.main-info {
    top: 130px;
    left: 108px;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    z-index: 1;
    position: relative;

    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.32645100355148315px;
    text-align: left;
}

.application {
    background: #FFF;
    font-size: 20px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    left: 104px;
    width: 676px;
    margin: 200px 0 0 0;
    position: relative;
    padding: 35px 30px 24px 36px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.application-form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5px;
    border-radius: 12px;
    gap: 32px;
    color: #667085;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.15399999916553497px;
}

.application-form-contacts{
    display: flex;
    align-items: center;
    gap: 24px;
}

.application-form-contacts label {
    border-bottom:1px #D0D5DD;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.15399999916553497px;
    margin-bottom: 5px;
    gap: 10px;
}

.application-form-contacts input{
    width: 224px;
    height: 54px;
    font-family: "SF Pro Text", sans-serif;
    font-size: 17px;
    border: 0;
    border-bottom: 0.7px solid #D0D5DD;
    outline: none;
    padding: 8px 0;
    text-decoration: #101828;
}

.application h3{
    margin-top: 0;
}

.form-button {
    background-color: #2D66EE;
    color: #fff;
    font-family: "SF Pro Text", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.154px;
    width: 132px;
    border: 0;
    border-radius: 8px;
    text-align: left;
    padding: 11px 24px;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background: #101828;
    color: #FFF;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    bottom: 10px;
    left: 108px;
    width: 85%;
    margin: 0;
}

.footer-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-list h3{
    margin: 0;
    font-family: "SF Pro Text", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #aeaeae;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-list li{
    width: 294px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-list p{
    font-family: "SF Pro Text", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.408px;
}

.footer-end-label{
    list-style-type: none;
    color: #FFF;
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.footer-end-label li{
    font-family: "SF Pro Text", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.078px;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.23999999463558197px;
    text-align: left;
    line-height: 150%;
}

#p3 {
    width: 600px;
    color:  #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.38px;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    flex-wrap: nowrap
}

li.phones {
    margin-right: 15px
}

img {
    margin-right: 5px
}